<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Irish+Grover&family=Montserrat:wght@100&family=Nunito:wght@200&family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap" rel="sty.lesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="Home_page.css">
    <title>Hotel BT | Welcome</title>
</head>
<body>
    <!--Nav Bar-->
    <header id="navheader">
        <nav>
        <div id="navd1">
            <h1 id="navh1">HBT</h1>
        </div>

        <div id="navd2">
            <ul>
                <li><a href="home" id="nava1">Home</a></li>
                <li><a href="about" id="nava1">About</a></li>
                <li><a href="contact" id="nava1">Contact</a></li>
            </ul>
        </div>
        </nav>
    </header>
    
    <!--Main_Content-->
    <header id="maincontentheader">

        <div id="maincontentd">

        <div id="maincontentd1">
            <h1 id="maincontenth1">
               <span id="maincontents1">Enjoy</span> Your Stay
            </h1>
        </div>

        <div id="maincontentd3"></div>

        <div id="maincontentd2">
            <p id="maincontentp1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur obcaecati dicta placeat. Quae quod rerum id. Omnis fuga quae aspernatur!</p>
        </div>

        <button id="maincontentb1"><a href="about" id="maincontenta1">
            About Our Hotel
        </a></button>

        </div>
    </header>

    <!--History Of Hotel-->
    <div id="historyd">
             
    <div id="historyd1"></div>

    <div id="historyd2">
        <h1 id="historyh1"><span id="historys1">The History</span> Of Our Hotel</h1>

        <p id="historyp1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi corporis quos placeat rerum ipsam et voluptatibus. Perspiciatis quam, obcaecati veniam, dolores unde magnam incidunt dolorem nobis consectetur nulla explicabo error cum libero maxime. Quibusdam provident numquam aut rerum vitae at magnam quam minus voluptatem tempore itaque error ex, odio officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores adipisci sequi fugit velit neque odio facilis dolore dignissimos quos quibusdam molestias, cupiditate commodi ullam sed quas hic ducimus veniam repellat tempora ad perferendis sit quam non. Enim quia saepe reprehenderit. Obcaecati quibusdam temporibus tempore voluptatum nulla numquam, quis libero quae!</p>
    </div>

</div>   

<!--Features-->
<div id="featured">
 
<div id="featured1">
    <i class="fas fa-hotel fa-3x" id="i1"></i>
    <h1 id="featureh1">Great Location</h1>
    <p id="featurep1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis unde, corporis vero eum eveniet cum.</p>
</div>

<div id="featured2">
    <i class="fas fa-pizza-slice fa-3x" id="i2"></i>
    <h1 id="featureh2">Free Meals</h1>
    <p id="featurep2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum necessitatibus, temporibus commodi ratione nemo harum!</p>
</div>

<div id="featured3">
    <i class="fas fa-fan fa-3x" id="i3"></i>
    <h1 id="featureh3">AC Rooms</h1>
    <p1 id="featurep3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet mollitia eius maiores voluptates ut? 
    </p1>
</div>

</div>

<!--Footer-->
<footer>
    <p id="footerp1">Hotel BT 	&copy; 2021, All Rights Reserved</p>
</footer>

</body>

</html>